<h1>Choose your car to complete your booking</h1>

<mat-form-field appearance="outline">
  <mat-label>Car Brand</mat-label>
  <input matInput required [(ngModel)]="carData.brand">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Car Model</mat-label>
  <input matInput required [(ngModel)]="carData.model">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Car Color</mat-label>
  <input matInput required [(ngModel)]="carData.color">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Plate Number</mat-label>
  <input matInput required [(ngModel)]="carData.plateNumber">
</mat-form-field>
<button (click)="addNewCar()">Add a new Car</button>

<mat-card *ngFor="let car of carsFromUser" class="article-card" style="flex: 1 1 auto;">
  <mat-card-title>{{ car.brand }}</mat-card-title>
  <mat-card-subtitle>{{ car.model }}</mat-card-subtitle>
  <mat-card-content>
    <p>{{ car.color }}</p>
  </mat-card-content>
  <button [routerLink]="[car.id]">Create booking</button>
</mat-card>
