<ng-container *ngIf="noBookings; else elseTemplate">
  <h2>There are no bookings yet. Go make some!</h2>
</ng-container>
<ng-template #elseTemplate>
  <mat-card *ngFor="let booking of bookings" class="article-card" style="flex: 1 1 auto;">
    <mat-card-title>Status: {{ booking.status }}</mat-card-title>
    <mat-card-subtitle>{{ booking.idParkingLot }}</mat-card-subtitle>
    <mat-card-subtitle>S/. {{ booking.idDriver }} x hour</mat-card-subtitle>
    <mat-card-content>
      <p>Booked with car brand: {{ booking.carId }}</p>
    </mat-card-content>
    <button (click)="deleteBooking(booking.id)">Delete Booking</button>
  </mat-card>
</ng-template>
